<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/products" text="Products"></ion-back-button>
    </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="loading; else contentLoaded">
    <ion-item lines="none">
      <ion-icon name="pricetag" slot="start" color="medium"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated style="width: 50vw; padding: 2px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70vw;" class="ion-margin-top"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70vw;" class="ion-margin-top"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-grid class="ion-padding-top" style="width: 90vw;">
      <ion-row>
        <ion-col size="12">
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="6">
          <ion-skeleton-text animated style="width: 100%; height: 20vh;"></ion-skeleton-text>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let i of [1,2,3]" lines="none" detail="true">
      <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
      <ion-label>
        <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%;" class="ion-margin-top"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>
  <ng-template #contentLoaded>
    <ion-item lines="none">
      <ion-icon name="pricetag" slot="start" color="medium"></ion-icon>
      <ion-label>
        Product Details
        <p class="ion-padding-top">A description of the product</p>
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>