.box {
    border: 2px solid grey;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    margin: auto;
    border-radius: 7px;

    span {
        color: grey;
        font-weight: 200;
    }

    ion-label {
        display: flex;
        font-weight: 500;
        align-items: center;
    }
}

.bottom-sheet {
    --header-height: 64px;
    --item-height: 50px;
    --list-padding-block: 10px;
    --transition-duration: 300ms;
    --items-in-list: 3;

    transition: var(--transition-duration);
    position: absolute;
    background-color: #fff;
    width: 100%;
    bottom: calc(-1 * ((var(--items-in-list) * var(--item-height)) + (2 * var(--list-padding-block))));

    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px -10px 10px -8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .sheet-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--header-height);
    }

    ion-list {
        padding-block: var(--list-padding-block);
        ion-item {
            --min-height: var(--item-height);
        }
    }
}

.dropdown-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 300ms;
    background: #f8f3fa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}