<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/products" text="Products"></ion-back-button>
    </ion-buttons>

    <div class="title-wrapper" id="open-modal" tappable [ngStyle]="{background: loading ? '#fff' : 'primary'}">
      <ng-container *ngIf="loading; else notLoadingTemplate">
        <ion-label color="primary">
          <ion-skeleton-text animated style="width: 80px;"></ion-skeleton-text>
        </ion-label>
        <span>
          <ion-skeleton-text animated style="width: 60px;"></ion-skeleton-text>
        </span>
      </ng-container>

      <ng-template #notLoadingTemplate>
        <ion-label color="primary">
          Active
          <ion-icon name="chevron-down"></ion-icon>
        </ion-label>
        <span>5 channels</span>
      </ng-template>
    </div>

    <ion-buttons slot="end">
      <ion-button fill="clear" [color]="loading ? 'medium' : 'primary'" [disabled]="loading">
        <ion-icon name="share-outline" slot="icon-only" size="small"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [color]="loading ? 'medium' : 'primary'" [disabled]="loading">
        <ion-icon slot="icon-only" size="small" [name]="loading ? 'ellipsis-horizontal' : 'cart'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="loading; else contentLoaded">
    <div @fadeInOut class="loading-state">
      <ion-item lines="none">
        <ion-icon name="pricetag" slot="start" color="medium"></ion-icon>
        <ion-label>
          <ion-skeleton-text animated style="width: 50vw; padding: 2px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70vw;" class="ion-margin-top"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70vw;" class="ion-margin-top"></ion-skeleton-text>
        </ion-label>
      </ion-item>

      <ion-grid class="ion-padding-top" style="width: 90vw;">
        <ion-row>
          <ion-col size="12">
            <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6">
            <ion-skeleton-text animated style="width: 100%; height: 20vh;"></ion-skeleton-text>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 100%; height: 8vh;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item *ngFor="let i of [1,2,3]" lines="none" detail="true">
        <ion-skeleton-text style="width: 50px; height: 50px;" slot="start"></ion-skeleton-text>
        <ion-label>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%;" class="ion-margin-top"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </div>
  </ng-container>

  <ng-template #contentLoaded>
    <div @fadeInOut class="content-state">
      <ion-item lines="none">
        <ion-icon name="pricetag" slot="start" color="medium"></ion-icon>
        <ion-label>
          Product Name
          <p class="ion-padding-top">A description of the product</p>
        </ion-label>
      </ion-item>

      <ion-grid class="ion-padding-top">
        <ion-row>
          <ion-col size="12">
            <ion-text color="primary">Media</ion-text>
          </ion-col>

          <ion-col size="6">
            <img src="https://ionicacademy.com/wp-content/uploads/2021/11/academy-150x150.jpg" alt="product"
              class="product-image">
          </ion-col>

          <ion-col size="6">
            <ion-row>
              <ion-col size="6" class="ion-no-padding ion-no-margin">
                <div class="box">
                  <ion-icon name="add"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item *ngFor="let i of [1,2,3]" lines="none" detail="true">
        <img src="https://ionicacademy.com/wp-content/uploads/2021/11/academy-150x150.jpg" slot="start"
          style="width: 50px; height: 50px;">
        <ion-label>
          Product
          <p style="width: 60%;" class="ion-padding-top">
            A description of the product
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ng-template>

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Name Surname</h2>
              <p>Title</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Name Surname</h2>
              <p>Title</p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=c"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Name Surname</h2>
              <p>Title</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <div #bottomSheet class="bottom-sheet">
    <div class="sheet-header">
      <h3>More details</h3>
      <div #dropdownBtn class="dropdown-btn" (click)="toggleDropdown()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </div>

    <ion-list>
      <ion-item detail="true" lines="none">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-label>Shipping</ion-label>
        <span slot="end">0 kg</span>
      </ion-item>

      <ion-item detail="true" lines="none">
        <ion-icon name="folder-outline" slot="start"></ion-icon>
        <ion-label>Product organization</ion-label>
        <span slot="end">Galaxies.dev</span>
      </ion-item>

      <ion-item detail="true" lines="none">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>Collections</ion-label>
        <span slot="end">Home page</span>
      </ion-item>
    </ion-list>
  </div>
</ion-footer>